table {
  border-collapse: collapse;
  width: 100%;
  thead {
    tr {
      background-color: #d3d2d2 !important;
    }
  }
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #e8e8e8 !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
